html, body {
    scroll-behavior: smooth;
    width: auto;
    /* height: 100%; */
    background-color: black;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.green {
  color: #9adc23 !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 32px;
  }
}

/****** Home ******/
#home {
  height: 100vh;
  background-color: black;
}

#home p {
  color: white;
}

/****** Navbar ******/
#nav-overlay {
  position: fixed;
  display: block;
  width: 100%;
  max-height: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0F0E17;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;

  transition: max-height 0.5s;
}

.nav-active {
  max-height: 100% !important;
}

#nav-overlay img {
  width: 24px;
  height: 24px;
}

hr {
  background-color: white;
  border: 0;
  clear:both;
  display:block;              
  height: 1px;
  width: 100%;
}

#nav-overlay a {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.add-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

#nav-overlay h5 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
}

#resume-btn {
  width: 100%;
  text-align: center;
  background-color: #06B8BE !important;
  color: black !important;
  font-weight: normal;
  font-size: 20px !important;
  padding: 14px 0px !important;
  margin: 16px 0px !important;
  margin-bottom: 30px !important;
  border-radius: 4px !important;
}

#nav-bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 20px;
  padding-left:50px;
  padding-right: 50px;
}

.small-nav-icon {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.logo ul {
  margin-bottom: 0px;
}

.logo img {
  width: 48px;
  height: 48px;
}

.nav {
  position: relative;
  display: inline;
  margin: 12.5px 0px;
  vertical-align: top;
}

.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
}

ul li {
  display: inline;
  margin: 0px 10px;
}

ul li a, .logo ul li a{
  text-decoration: none;
}

ul li a {
  display: inline-block;
  width: 115px;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: white;
} 

.nav ul li a:hover {
  transition-duration: 0.25s;
  color: black;
  text-decoration: none;
  border-radius: 4px;

  background: #F7F6FA;
}

#nav-resume {
  color: black;
  background: #06B8BE;
  border-radius: 4px;
}

#nav-resume:hover {
  background: #F7F6FA;
}

.active-nav-button {
  color: black;
  border-radius: 4px;
  background: #F7F6FA;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  background-color: rgba(0,0,0, 1);
  z-index: 1;
}

@media (max-width: 800px) {
  .small-nav-icon {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin: 6px 0px;
    padding: 15px 0px;
    z-index: 1;
  }

  .logo {
    margin: auto;
  }

  ul {
    padding-left: 0px;
  }

  ul li a {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: white;
  } 

  .nav {
    display: none;
  }
}

/****** Home Content ******/
#home-content {
  height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
}

#avatar {
  width: 324px;
  height: 344px;
}

#enjoy, #down-arrow {
  cursor: pointer;
}

#down-arrow {
  width: 24px;
  height: 24px;
}

@media( max-width: 990px) {
  #avatar {
    width: 224px;
    height: 244px;
  }

}

@media (max-width: 768px) {
  #avatar {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
  }

  p {
    font-family: 'Lato', sans-serif;
  }
}

@media (max-width: 525px) {

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 7vw;
    color: white;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 4vw;
  }
}

/****** Projects ******/
#projects {
  background-color: #F7F6FA;
}

#projects h2 {
  margin-top: 130px;
}

#projects p {
  text-align: center;
}

.project-container {
  Height: 255px;
  margin: 33px 0px;
  border-radius: 5px;
  box-shadow: 0px 2px rgba(0,0,0, 0.1);
  background-color: white;
}

.project-container:hover {
  box-shadow: 4px 6px rgba(0,0,0, 0.1);
}


#logo-nyriad {
  width: auto;
  height: 48px;
}

#logo-waikato {
  width: 101px;
  height: 117px;
}

#logo-luke {
  width: 96px;
  height: 96px;
}

@media( max-width: 990px) {
  #logo-nyriad {
    width: auto;
    height: 38px;
  }

  .project-container {
    Height: 255px;
    margin: 4px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px rgba(0,0,0, 0.1);
    background-color: white;
  }
}

/****** About ******/
#about {
  background-color: #F7F6FA;
  height: 850px;
}

#about-content {
  padding: 40px 0px;
  padding-top: 100px;
}

#about img {
  width: 100%;
  height: auto;
}

.skills {
  margin: 72px 0px;
}

.skills p {
  text-align: center;
}

.skills-bar {
  max-height: 50px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  background-color: white;

  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.skills-row {
  height: 50px;
}

h3 {
  display: inline;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.skills-bar img {
  width: 18px !important;
  height: 18px !important;
}

.skills-bar p {
  text-align: left !important;
  font-size: 15px;
  opacity: 0;

  transition: ease-in 0.4s;
}

.skills-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.skills-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.skills-active {
  max-height: 200px !important;
}

.skills-p-active {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  #about {
    background-color: #F7F6FA;
    height: 1150px;
  }

  #about-content {
    padding-top: 92px;
  }

  #about img {
    width: 100%;
    height: auto;
    margin-top: 24px;
    margin-left: 10px;
  }

  .skills-con {
    margin: 0px;
    padding: 0px;
  }

  .skills-bar img {
    width: 18px !important;
    height: 18px !important;
    margin-top: 0px !important;
  }
}

@media (max-width: 590px) {
  #about-content {
    margin: -15px;
    padding-top: 92px;
  }

}
/****** Contact ******/
#contact-content {
  margin-top: 300px;
}

#contact img {
  width: 46px;
  height: 52px;
}

#contact p {
  margin: 32px 0px;
  color: white;
}

form {
  width: 100%;
}

input {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 18px;
}

textarea {
  width: 100%;
  height: 112px;
  padding-left: 18px;
  padding-top: 12px;
}

#contact form img {
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-top: 2px;
}

form p {
  display: inline;
  margin-left: 10px !important;
  font-size: 16px;
}

#submit {
  width: 129px;
  height: 48px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 2px;
  border: 0px;
  background-color: #06B8BE;
}

@media(max-width: 990px) {
  #contact-content {
    margin-top: 400px;
  }
}

@media (max-width: 768px) {
  #submit {
    width: 100%;
    height: 48px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-top: 8px; 
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border: 0px;
    background-color: #06B8BE;
  }
}

/****** Footer ******/
footer {
  margin-top: 65px;
}

footer img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

footer p {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 72px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #6E6E6E;
}